@tailwind base;
@tailwind components;
@tailwind utilities;

/* DaisyUI Base Styles */
@layer base {
  :root {
    --rounded-box: 1rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
  }
}

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --header-height: 4rem;
  --sidebar-width: 18rem;
  --sidebar-mobile-width: 280px;
  --main-transition: all 0.2s ease-in-out;
}

body {
  @apply bg-base-100 text-base-content min-h-screen font-sans;
}